<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <!-- 字符集 -->
    <meta charset="utf-8"/>
    <!-- meta元素 -->
    <meta name="author" content="author1,email1,author2..."/>
    <meta name="description" content="<desc,desc2...>"/>
    <meta name="keywords" content="<keyword,word2...>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- icon图标 -->
    <link rel="icon shortcut" type="image/x-icon" href="/static/<path/to/ico/file>"/>
    <!-- region css样式表 -->
    <link rel="stylesheet" href="/static/<path/to/css>"/>
    <!-- 自定义css -->
    <link rel="stylesheet" href="/static/<path/to/css>"/>
    <!-- endregion css样式表 -->
    <!--页面标题-->
    <title>"page_title"</title>
</head>
<body>
<!-- 顶部 -->
<nav></nav>
<!-- 主体 -->
<div></div>
<!-- 底部 -->
<footer></footer>
<!-- region javascript脚本 -->
<script src="/static/<path/to/js>"></script>
<!-- 自定义js -->
<script src="/static/<path/to/js>"></script>
<!-- endregion javascript脚本 -->
</body>
</html>